body{
  display: grid;
  grid-template-columns: auto;

}

.buttonHeader{
  position: left;
  width: 400px;
  margin: 10px;
  margin-right: 0;
  margin-left: 10px;
  margin-top:20px;
  height: 400;
}

.card-title {
  background-color: lightgray;
  text-align: center;
  height: 25px;
}

.card-text{ 
    text-align: center;
    height: 80px;
    padding: 0;
    margin: 0;
}

.card{ 
  border: solid 1px grey;
  width: 20px;
  margin: 10px;
  padding: 0;
}

.petImage {
 align-items: center; 
}

.color{
  text-align: center;
}

.cat{
  text-align: center;
  background-color: lightyellow;
  text-transform:capitalize;
}

.dog{
  text-align: center;
  background-color: lightblue;
  text-transform:capitalize;
}

.dino{
  text-align: center;
  background-color: lightgreen;
  text-transform:capitalize;
}

#app{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
}

#addPet{
  height: 300px;
  width: 400px ;
  margin: 30px;
  border: solid 1px black;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.radioButtons{
  display: flex;
  flex-wrap: wrap;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.form-check{
  margin: 5px;
}
